{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
{% for about in abouts %}

<h2>{{ about.title }}</h2>

<p>
    {{ about.subject }}
 </p>
 <p>
     {{ about.subjects }}
 </p>
{% endfor %}
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <img src="../static/img/foto-grupal.jpg" style="width:100%;" />
</div>
</div>
</div>

<hr>
<h2>Meet The Team</h2>
{% for member in company %}



<div class="row featurette">
    
    {% if loop.index % 2 !=0 %}
    <div class="col-md-7">
        
        <h3>{{ loop.index }}. {{ member.name }}</h3>
        <p>{{ member.discription }}</p>
    </div>
     <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{ member.image_source }}" style="width:100%;"/>
        </div>
        {% else %}
         
     <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{ member.image_source }}" style="width:100%;"/>
        </div>
        <div class="col-md-7">
        
        <h3>{{ loop.index }}. {{ member.name }}</h3>
        <p>{{ member.discription }}</p>
    </div>
        {% endif %}
</div>

{% if loop.index !=5 %}
<hr class="featurette-divider">
{% endif %}
{% endfor %}


{% endblock %}
