<style>
    form{
        margin: 30px;
    }
    .why-we-do-it{
        margin: 30px;
    }
    h3{
        text-align: center;
    }
    
</style>
{% extends 'base.html' %} {% block content %}
{% for char in char %}
<h3> title and subtitle of charity</h3>
  <form action="{{ url_for('update_charity', char_id=char._id) }}" method="POST">
<div class="form-group">
    <label for="name">Cabin Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ char.title }}">
   
  </div>
  
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control" id="title2" name="title2" rows="3">{{ char.title2 }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

{% endfor %}


{% for data in data %}
<h3 class="why-we-do-it"> Why we do it section</h3>
  <form action="{{ url_for('update_charity_data', data_id=data._id) }}" method="POST">
<div class="form-group">
    <label for="name">Cabin Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ data.title }}">
   
  </div>
  
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control" id="subject" name="subject" rows="3">{{ data.subject }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

{% endfor %}

{% for data_cha in cha %}
<h3 class="why-we-do-it"> how we do it section</h3>
  <form action="{{ url_for('update_charity_data_1', cha_id=data_cha._id) }}" method="POST">
<div class="form-group">
    <label for="name">Cabin Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ data_cha.title }}">
   
  </div>
  
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control" id="subject" name="subject" rows="3">{{ data_cha.subject }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

{% endfor %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  </script>
</form>
 

{% endblock %}