
<style>
.btn-link{
  color: black !important;
  text-decoration: none !important;
  text-align: center!important;
}
.btn-link:hover{
  color: grey !important;
}
a{
  text-align: left!important;
}

</style>
{% extends 'base.html' %} {% block content %}



  {% for opinion in opinions | reverse %}
  

<h2> {{ opinion.name }} {{ opinion.surname }} </h2>
<h3>{{ opinion.Title}} </h3>
<p id="{{ opinion._id }}_truncateded" style="display: block;">{{ opinion.Opinion|truncate(200, True)}}</p>
<p id="{{ opinion._id }}_fulls" class="hide-all-text" style="display: none;">{{ opinion.Opinion }}</p>

<button onclick="showMores('{{ opinion._id }}')" id="{{ opinion._id }}_shows">Show more</button>
 <a href="{{url_for('edit_review', opinion_id=opinion._id)}}">
           <button type="button" class="btn pull-right btn-primary">Edit</button>
           </a>
           <a href="{{url_for('delete_opinion', opinion_id=opinion._id)}}">
           <button type="button" class="btn pull-right btn-danger">Delete</button>
       </a>

{% endfor %}

  
  {% endblock %}
 