<style>
    form{
        margin: 30px;
    }
    .why-we-do-it{
        margin: 30px;
    }
    h3{
        text-align: center;
    }
    
</style>
{% extends 'base.html' %} {% block content %}
{% for char in char %}
<h3> title and subtitle of charity</h3>
  <form action="{{ url_for('update_charity', char_id=char._id) }}" method="POST">
<div class="form-group">
    <label for="name">Cabin Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ char.title }}">
   
  </div>
  
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control" id="title2" name="title2" rows="3">{{ char.title2 }}</textarea>
  </div>
  </form>
  <button type="submit" class="btn btn-primary">Submit</button>

{% endfor %}



  

 

{% endblock %}