{% extends 'base.html' %} {% block content %}
{% for about in abouts %}
  <form action="{{ url_for('update_about', about_id=about._id) }}" method="POST">
<div class="form-group">
    <label for="name">About</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ about.title }}">
  
 
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Text</label>
    <textarea class="form-control" id="subject" name="subject" rows="3">{{ about.subject }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

{% endfor %}

</form>
 

{% endblock %}