<style>
.btn-link{
  color: black !important;
  text-decoration: none !important;
  text-align: center!important;
}
.btn-link:hover{
  color: grey !important;
}
a{
  text-align: left!important;
}


.btn{
  width: 100% !important;
  margin:20px !important;
  text-align: center;
}
#dropdownMenuButton{
 width: 100%;
  margin:20px;
  text-align: center;
}
</style>
{% extends 'base.html' %} {% block content %}
<h3> Administration </h3>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="dropdown">
  <button class="btn btn-success dropdown-toggle text-wrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Rooms
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('update_room_data') }}">Fan Rooms</a>
    <a class="dropdown-item" href="{{ url_for('update_room_ac') }}">A.C Rooms</a>
    <a class="dropdown-item" href="{{ url_for('update_room_cabin') }}">Cabin</a>
    <a class="dropdown-item" href="{{ url_for('update_room_camp') }}">Camping</a>
  </div>
</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <button type="button" class="btn btn-success text-wrap" >About</button>
    </div>
     
     <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="dropdown">
    <button class="btn btn-success dropdown-toggle text-wrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Charity
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('update_charity_info') }}">Main title</a>
    <a class="dropdown-item" href="{{ url_for('update_charity_info_1') }}">Why we do it</a>
    <a class="dropdown-item" href="{{ url_for('update_charity_info_2') }}">How we do it section</a>
  </div>
</div>
  
     <div class="col-sm-12 col-md-6 col-lg-6">
         <a href="{{ url_for('Admin_update_reviews') }}">
     <button type="button" class="btn btn-success text-wrap">Reviews</button>
     </a>
    </div>
  </div>
</div>

{% endblock %}