
{% extends 'base.html' %} {% block content %}
<style>

.column img {
  opacity: 0.8; 
  cursor: pointer;  
}

.column img:hover {
  opacity: 1;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 25%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.expand-image{
  position: relative;
 display:none;
}


/* Closable button inside the expanded image */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
</style>
<div class="container">
<div class="row">
  {% for index in indexs %}
    <div class="col-sm-12 col-lg-12 col-md-12 ">
        <h3>{{ index.title }}</h3>
        <p>{{ index.subject }}</p>
     
     {% endfor %}
           </div>         
        </div>
        <!--phtos for main house-->
        <hr>
        <div class="container">
                   <div class="row ">
  <div class="column">
    <img src="../static/img/rio-pochocolos.jpg" alt="river" style="width:100%" onclick="expandImage(this);" id="togle">
  </div>
  <div class="column">
    <img src="../static/img/tanya-johann-boat.jpg" alt="river" style="width:100%" onclick="expandImage(this);" id="togle-1">
  </div>
  <div class="column">
    <img src="../static/img/playa-1.jpg" alt="rooms" style="width:100%" onclick="expandImage(this);" id="togle-2">
  </div>
  <div class="column">
    <img src="../static/img-room/mar-1.jpg" alt="rooms" style="width:100%" onclick="expandImage(this);"id="togle-3">
  </div>
</div>
</div>
<div class="container expand-image">
  <span onclick="this.parentElement.style.display='none'" class="close">&times;</span>
  <img id="expandedImg" style="width:100%">
</div>
 <hr>
 <!-- photos for ac rooms-->
  <div class="container">
                   <div class="row ">
  <div class="column">
    <img src="../static/img/casa-amacas.jpg" alt="Amacas" style="width:100%" onclick="expandImageTwo(this);" id="togle-4">
  </div>
  <div class="column">
    <img src="../static/img/yaneli-cosina.jpg" alt="cosine" style="width:100%" onclick="expandImageTwo(this);" id="togle-5">
  </div>
  <div class="column">
    <img src="../static/img-room/cuartos-aira.jpg" alt="Aircon rooms" style="width:100%" onclick="expandImageTwo(this);" id="togle-6">
  </div>
  <div class="column">
    <img src="../static/img-room/vista-frente-casa.jpg" alt="Aircon rooms" style="width:100%" onclick="expandImageTwo(this);"id="togle-7">
  </div>
</div>
</div>
<div class="container expand-image">
  <span onclick="this.parentElement.style.display='none'" class="close">&times;</span>
  <img id="expandedImg-2" style="width:100%">
</div>
 <hr>
 <!--photos for cabin-->
  <div class="container">
                   <div class="row ">
  <div class="column">
    <img src="../static/img-room/vista-frente-casa.jpg" alt="birds" style="width:100%" onclick="expandImageThree(this);" id="togle-8">
  </div>
  <div class="column">
    <img src="../static/img-room/platanera.jpg" alt="cabin" style="width:100%" onclick="expandImageThree(this);" id="togle-9">
  </div>
  <div class="column">
    <img src="../static/img-room/pescador.jpg" alt="cabin" style="width:100%" onclick="expandImageThree(this);" id="togle-10">
  </div>
  <div class="column">
    <img src="../static/img-room/rio-playa.jpg" alt="cabin" style="width:100%" onclick="expandImageThree(this);"id="togle-11">
  </div>
</div>
</div>
<div class="container expand-image">
  <span onclick="this.parentElement.style.display='none'" class="close">&times;</span>
  <img id="expandedImg-3" style="width:100%">
</div>
 <hr>
 <!--photos for camping-->
 <div class="container">
                   <div class="row ">
  <div class="column">
    <img src="../static/img-room/vista.jpg" alt="Cabin" style="width:100%" onclick="expandImageFour(this);" id="togle-12">
  </div>
  <div class="column">
    <img src="../static/img-room/vista-al-mar.jpg" alt="cabin" style="width:100%" onclick="expandImageFour(this);" id="togle-13">
  </div>
  <div class="column">
    <img src="../static/img-room/vista-al-rio.jpg" alt="cabin" style="width:100%" onclick="expandImageFour(this);" id="togle-14">
  </div>
  <div class="column">
    <img src="../static/img-room/vista-frente-casa.jpg" alt="cabin" style="width:100%" onclick="expandImageFour(this);"id="togle-15">
  </div>
  <div class="column">
    <img src="../static/img/a.jpg" alt="cabin" style="width:100%" onclick="expandImageFour(this);"id="togle-16">
  </div>
  <div class="column">
    <img src="../static/img/b.jpg" alt="cabin" style="width:100%" onclick="expandImageFour(this);"id="togle-17">
  </div>
</div>
</div>
<div class="container expand-image">
  <span onclick="this.parentElement.style.display='none'" class="close">&times;</span>
  <img id="expandedImg-4" style="width:100%">
</div>
 <hr>
 
 <!--charity -->
 
            
       
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right col-sm-6 col-md-4 col-lg-4" href="{{url_for('get_reviews')}} ">view reviews &rarr;</a>
            <a class="btn btn-primary float-left col-sm-6 col-md-4 col-lg-4" href="{{url_for('add_review')}}">Add a review</a>
        </div>
    </div>
</div>
<script>
// for the image galery
// for main rooms
function expandImage(imgs) {
  var expandImg = document.getElementById("expandedImg");
  expandImg.src = imgs.src;
  expandImg.parentElement.style.display = "block";
      
}
$("#togle").click(function (){
  $("#expandedImg").toggle()  
});
$("#togle-1").click(function (){
  $("#expandedImg").toggle()  
});
$("#togle-2").click(function (){
  $("#expandedImg").toggle()  
});
$("#togle-3").click(function (){
  $("#expandedImg").toggle()  
});
// photos for ac rooms
function expandImageTwo(imgs) {
  var expandImgTwo = document.getElementById("expandedImg-2");
  expandImgTwo.src = imgs.src;
  expandImgTwo.parentElement.style.display = "block";
}
$("#togle-4").click(function (){
  $("#expandedImg-2").toggle()  
});
$("#togle-5").click(function (){
  $("#expandedImg-2").toggle()  
});
$("#togle-6").click(function (){
  $("#expandedImg-2").toggle()  
});
$("#togle-7").click(function (){
  $("#expandedImg-2").toggle()  
});
// photos for cabin
function expandImageThree(imgs) {
  var expandImgThree = document.getElementById("expandedImg-3");
  expandImgThree.src = imgs.src;
  expandImgThree.parentElement.style.display = "block";
}
$("#togle-8").click(function (){
  $("#expandedImg-3").toggle()  
});
$("#togle-9").click(function (){
  $("#expandedImg-3").toggle()  
});
$("#togle-10").click(function (){
  $("#expandedImg-3").toggle()  
});
$("#togle-11").click(function (){
  $("#expandedImg-3").toggle()  
});
function expandImageFour(imgs) {
  var expandImgFour = document.getElementById("expandedImg-4");
  expandImgFour.src = imgs.src;
  expandImgFour.parentElement.style.display = "block";
}
$("#togle-12").click(function (){
  $("#expandedImg-4").toggle()  
});
$("#togle-13").click(function (){
  $("#expandedImg-4").toggle()  
});
$("#togle-14").click(function (){
  $("#expandedImg-4").toggle()  
});
$("#togle-15").click(function (){
  $("#expandedImg-4").toggle()  
});
$("#togle-16").click(function (){
  $("#expandedImg-4").toggle()  
});
$("#togle-17").click(function (){
  $("#expandedImg-4").toggle()  
});
// photos for camping
</script>
{% endblock %}