

{% extends 'base.html' %} {% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 ">
        <h3>Los Pochocolos</h3>
        <p>  Los Pocholos is a family run finca on the Caribbean coast of Colombia and is located just a five minute walk away from the beach. From the nearest cities, we are just over 1 hour away from Rioacha, 2 hours from Santa Marta, a 7 minute drive from the village of Mingueo and 45 minutes to Tayrona National Park.
        We offer 6 large rooms in the main house, 5 rooms in a separate building adjacent to the house, a self-catering cabin with 2 bedrooms and camping. There is a large kitchen in the 
        main house, allowing us to serve delicious and fresh Colombian meals to our guests, for a small extra cost. Our menu will change daily as we buy local produce so there will always be a variety, and we are always happy
        to provide vegetarian options. 
        The finca overlooks the river and is surrounded by our coconut trees providing a beautiful area to relax in, you can find parrots, monkeys, iguanas, pelicans and many other tropical animals all in the nearby area. 
        We can arrange transport for any day trips you may wish to go on, for example to the nearby Tayrona National Park or flamingo watching. If you need tranfers to and from the airports, we can arrange that too (with a little notice!).
        Please let us know if there is anything we can help you with, we hope you enjoy your time in La Guajira!
     </p>
           </div>         
        </div>
        <hr>
        <div class="post-preview">
            <a href="{{ url_for('charity') }}">
                <h2 class="post-title">
                    Tanya's Paz charity: </h2><p>  A charity ispired by <strong>Tanya Angelica Aguirre Curry</strong> and devoloped by <strong>Antigone Curry.</strong>
                    (mother) of Tanya</p>
               
            
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="#">
                    Science has not yet mastered prophecy
                </h2>
                <p class="#">
                    We predict too much for the next year and yet far too little for the next ten.
                </p>
            </a>
           
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="#">
                    Failure is not an option
                </h2>
                <p class="#">
                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                </p>
            </a>
          
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right col-sm-6 col-md-4 col-lg-4" href="{{url_for('get_reviews')}} ">view reviews &rarr;</a>
            <a class="btn btn-primary float-left col-sm-6 col-md-4 col-lg-4" href="{{url_for('add_review')}}">Add a review</a>
        </div>
    </div>
</div>
<!----just commeting out this section for the chat
<form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <button>Go to chat!</button>
        </form>
        ------->
{% endblock %}