<style type="text/css">
 h2 {
  text-align: center;
 }

 h1 {
  text-align: center;
  margin: 30px;
  padding-bottom: 25px;
 }
 .hide-all-text{
  display: none;
 }
 
</style>
{% extends 'base.html' %} {% block content %}

<h1>Reviews</h1>

{% for opinion in opinion | reverse %}
<h2> {{ opinion.name }} {{ opinion.surname }} </h2>
<h3>{{ opinion.Title}} </h3>
<p id="{{ opinion._id }}_truncated">{{ opinion.Opinion|truncate(200, True)}}</p>
<p id="{{ opinion._id }}_full" class="hide-all-text" style="display: none;">{{ opinion.Opinion }}</p>

<button onclick="showMore('{{ opinion._id }}')" id="{{ opinion._id }}_show">Show more</button>
<button type="button" id="{{ opinion._id }}_hide">Read less</button>
{% endfor %}

<hr> 

<a class="btn btn-primary float-left col-sm-6" href="{{url_for('add_review')}}">Add a review</a>



{% endblock %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

 function showMore(id) {
   var truncateReviews = document.getElementsById("{{ opinion._id }}_truncated");
  var fullReviews = document.getElementById("{{ opinion._id }}_full");
document.getElementById("{{ opinion._id}}_show").click();
 if (truncateReviews.style.display == "block") {
   fullReviews.style.display == "none";
    
 } else if ( fullReviews.style.display == "block"){
   truncateReviews.style.display =="none";  
 
 } else {
  truncateReviews.style.display == "block";
 
}

 }
 



</script>