<style>
.btn-link{
  color: black !important;
  text-decoration: none !important;
  text-align: center!important;
}
.btn-link:hover{
  color: grey !important;
}
a{
  text-align: left!important;
}
</style>
{% extends 'base.html' %} {% block content %}
<h3> Administration </h3>


<form action="{{ url_for('Admin_update_reviews_and_more', opinion_id=opinion._id) }}" method="POST">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingThree" , "{{ opinion._id }}">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3> {{ opinion.name }} {{ opinion.surname }} </h3>
          <h4>{{ opinion.Title}} </h4>
          
           <button type="button" class="btn pull-right btn-success" type="submit" name="action">Save Changes</button>
          
           
        </button>
      </h5>
    </div>

    <div id="collapseThree" , "{{ opinion._id }}" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p>{{ opinion.Opinion|truncate(200, True)}}</p>
        <p>{{ opinion.how_would_you_improve_it}}</p>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  </script>
</form>
 
  
  {% endblock %}