<style>
.btn-link{
  color: black !important;
  text-decoration: none !important;
  text-align: center!important;
}
.btn-link:hover{
  color: grey !important;
}
a{
  text-align: left!important;
}
</style>
{% extends 'base.html' %} {% block content %}
<h3> Administration </h3>


<form action="{{ url_for('update_opinion', opinion_id=opinion._id) }}" method="POST">
<div class="form-group">
    <label for="name">Email address</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ opinion.name }}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="surname">Password</label>
    <input <input type="text" class="form-control" id="surname" name="surname" value="{{ opinion.surname }}">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
     <input <input type="text" class="form-control" id="Title" name="Title" value="{{ opinion.Title }}"
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="Opinion" name="Opinion" rows="3">{{ opinion.Opinion}}</textarea>
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="how_would_you_improve_it" name="how_would_you_improve_it" rows="3">{{ opinion.how_would_you_improve_it}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  </script>
</form>
 
  
  {% endblock %}